[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bcfrailph"]
	path = bcfrailph
	url = https://github.com/cran/bcfrailph
[submodule "bcfrailphdv"]
	path = bcfrailphdv
	url = https://github.com/cran/bcfrailphdv
